@model OnlineAuctionSystem.Models.Dashboard
@{
    Layout = "_Layout";
    ViewData["Title"] = "Your Listed Items";
}

<!-- Top area strats -->
<div class="top-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 d-flex mb-120">
                <div class="top-content">
                    <ul>
                        <li>
                            <a href="index-2.html">
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1.125 5.99955L5.602 1.52205C5.822 1.30255 6.178 1.30255 6.3975 1.52205L10.875 5.99955M2.25 4.87455V9.93705C2.25 10.2475 2.502 10.4995 2.8125 10.4995H4.875V8.06205C4.875 7.75155 5.127 7.49955 5.4375 7.49955H6.5625C6.873 7.49955 7.125 7.75155 7.125 8.06205V10.4995H9.1875C9.498 10.4995 9.75 10.2475 9.75 9.93705V4.87455M4.125 10.4995H8.25"
                                        stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </a>
                        </li>
                        <li>My Account</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top area ends -->
@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="flash-success">
        @TempData["Success"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="container mb-4 text-start">
    <a asp-controller="Items" asp-action="Sell" class="btn btn-primary bg-dark text-white border-dark">
        <i class="bi bi-upload"></i> Sell an Item
    </a>
</div>
<!-- Strats deshboard section -->
<div class="dashboard-section mb-120">
    <div class="container">
        <div class="dashboard-wrapper">
            <div class="dashboard-sidebar-menu">
                <ul>
                    <li class="active">
                        <a asp-controller="Dashboard" asp-action="Index">
                            <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <path
                                        d="M8.47911 7.33339H1.60411C0.719559 7.33339 0 6.61383 0 5.72911V1.60411C0 0.719559 0.719559 0 1.60411 0H8.47911C9.36383 0 10.0834 0.719559 10.0834 1.60411V5.72911C10.0834 6.61383 9.36383 7.33339 8.47911 7.33339ZM1.60411 1.375C1.47772 1.375 1.375 1.47772 1.375 1.60411V5.72911C1.375 5.85567 1.47772 5.95839 1.60411 5.95839H8.47911C8.60567 5.95839 8.70839 5.85567 8.70839 5.72911V1.60411C8.70839 1.47772 8.60567 1.375 8.47911 1.375H1.60411Z" />
                                    <path
                                        d="M8.47911 22.0014H1.60411C0.719559 22.0014 0 21.2818 0 20.3973V10.7722C0 9.88753 0.719559 9.16797 1.60411 9.16797H8.47911C9.36383 9.16797 10.0834 9.88753 10.0834 10.7722V20.3973C10.0834 21.2818 9.36383 22.0014 8.47911 22.0014ZM1.60411 10.543C1.47772 10.543 1.375 10.6457 1.375 10.7722V20.3973C1.375 20.5236 1.47772 20.6264 1.60411 20.6264H8.47911C8.60567 20.6264 8.70839 20.5236 8.70839 20.3973V10.7722C8.70839 10.6457 8.60567 10.543 8.47911 10.543H1.60411Z" />
                                    <path
                                        d="M20.4012 22.0014H13.5262C12.6414 22.0014 11.9219 21.2818 11.9219 20.3972V16.2722C11.9219 15.3875 12.6414 14.668 13.5262 14.668H20.4012C21.2857 14.668 22.0053 15.3875 22.0053 16.2722V20.3972C22.0053 21.2818 21.2857 22.0014 20.4012 22.0014ZM13.5262 16.043C13.3996 16.043 13.2969 16.1457 13.2969 16.2722V20.3972C13.2969 20.5236 13.3996 20.6264 13.5262 20.6264H20.4012C20.5275 20.6264 20.6303 20.5236 20.6303 20.3972V16.2722C20.6303 16.1457 20.5275 16.043 20.4012 16.043H13.5262Z" />
                                    <path
                                        d="M20.4012 12.8334H13.5262C12.6414 12.8334 11.9219 12.1138 11.9219 11.2291V1.60411C11.9219 0.719559 12.6414 0 13.5262 0H20.4012C21.2857 0 22.0053 0.719559 22.0053 1.60411V11.2291C22.0053 12.1138 21.2857 12.8334 20.4012 12.8334ZM13.5262 1.375C13.3996 1.375 13.2969 1.47772 13.2969 1.60411V11.2291C13.2969 11.3557 13.3996 11.4584 13.5262 11.4584H20.4012C20.5275 11.4584 20.6303 11.3557 20.6303 11.2291V1.60411C20.6303 1.47772 20.5275 1.375 20.4012 1.375H13.5262Z" />
                                </g>
                            </svg>
                            <h5>Dashboard</h5>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Dashboard" asp-action="BiddingItems">
                            <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <path
                                        d="M5.06069 7.49287C4.89311 7.32529 4.62069 7.32529 4.45315 7.49287C4.28514 7.66088 4.28514 7.93287 4.45315 8.10045C4.62073 8.26846 4.89315 8.26846 5.06069 8.10045C5.22865 7.93287 5.22865 7.66088 5.06069 7.49287ZM10.8796 19.2394C11.0691 18.9828 11.1715 18.6736 11.1715 18.3485C11.1715 17.5193 10.4969 16.8447 9.66763 16.8447H2.3632C1.96131 16.8447 1.58366 17.0011 1.29976 17.2851C1.01574 17.569 0.859332 17.9467 0.859332 18.3485C0.859043 18.669 0.961694 18.9811 1.15216 19.2389C0.467973 19.5986 0 20.3162 0 21.1414V21.5711C0 21.8084 0.192414 22.0008 0.429688 22.0008H11.6011C11.8384 22.0008 12.0308 21.8084 12.0308 21.5711V21.1414C12.0308 20.3166 11.5633 19.5993 10.8796 19.2394ZM1.90738 17.8926C1.96711 17.8326 2.03815 17.785 2.11639 17.7526C2.19463 17.7203 2.27852 17.7037 2.3632 17.704H9.66763C10.023 17.704 10.3121 17.9931 10.3121 18.3485C10.3121 18.5208 10.2451 18.6826 10.1234 18.8043C10.0637 18.8643 9.99263 18.9119 9.91439 18.9443C9.83615 18.9767 9.75226 18.9932 9.66758 18.993H2.3632C2.0078 18.993 1.71871 18.7038 1.71871 18.3485C1.71871 18.1762 1.7857 18.0143 1.90738 17.8926ZM0.859332 21.1414C0.859332 20.4306 1.43761 19.8524 2.14835 19.8524H9.88247C10.5932 19.8524 11.1715 20.4306 11.1715 21.1414H0.859332Z" />
                                    <path
                                        d="M21.5992 18.0522C21.4533 17.826 21.2792 17.626 21.0816 17.4578L19.0739 15.7067C19.058 15.6827 19.0397 15.6604 19.0194 15.64C18.9854 15.6062 18.9461 15.5784 18.9029 15.5576L17.6888 14.4986L12.0689 9.5963C12.2989 9.3558 12.4256 9.04131 12.4256 8.70689C12.4256 8.36236 12.2915 8.03859 12.0478 7.79487C11.9443 7.69146 11.8238 7.60662 11.6915 7.54407L12.2114 7.02414C12.3563 7.06278 12.5056 7.08241 12.6555 7.08254C13.0955 7.0825 13.5356 6.915 13.8706 6.58002C14.1954 6.2553 14.3742 5.82368 14.3742 5.36465C14.3742 4.90561 14.1954 4.47399 13.8707 4.14928L10.2248 0.503551C9.90013 0.178836 9.46846 0 9.0093 0C8.55035 0 8.11882 0.178836 7.79414 0.503551C7.34538 0.952316 7.19765 1.5895 7.35002 2.16279L2.16262 7.35015C2.01749 7.31151 1.86795 7.29193 1.71776 7.29193C1.25851 7.29193 0.827062 7.47063 0.502605 7.79505C-0.167535 8.46519 -0.167535 9.5556 0.502605 10.2258L4.14838 13.8716C4.48349 14.2067 4.92362 14.3742 5.36375 14.3742C5.80392 14.3742 6.24405 14.2067 6.57916 13.8716C7.02793 13.4228 7.17565 12.7857 7.02329 12.2124L7.54213 11.6935C7.60539 11.8254 7.69062 11.9456 7.79419 12.0489C8.03765 12.2923 8.36133 12.4264 8.70577 12.4264C9.03985 12.4264 9.35421 12.3 9.59505 12.0702L15.5809 18.9475C15.5974 18.9733 15.6166 18.9978 15.6391 19.0203C15.6468 19.028 15.655 19.035 15.6631 19.042L17.4468 21.0913C17.4916 21.1443 17.5387 21.1953 17.5877 21.2444C18.0776 21.7341 18.7247 21.9998 19.404 21.9998C19.5238 21.9998 19.6446 21.9916 19.7657 21.9748C20.5747 21.8628 21.274 21.3788 21.684 20.6467C22.1331 19.8444 22.0997 18.8257 21.5992 18.0522ZM8.40185 1.11121C8.48143 1.03116 8.5761 0.967681 8.68038 0.924453C8.78465 0.881225 8.89646 0.859105 9.00934 0.859375C9.12229 0.859071 9.23417 0.881173 9.33851 0.924401C9.44285 0.96763 9.53759 1.03113 9.61722 1.11121L13.263 4.75698C13.3431 4.8366 13.4066 4.9313 13.4498 5.03562C13.493 5.13993 13.5151 5.25178 13.5148 5.36469C13.5151 5.47761 13.493 5.58946 13.4498 5.69378C13.4066 5.79809 13.3431 5.89279 13.263 5.9724C12.9281 6.30743 12.3829 6.30743 12.048 5.9724L8.40207 2.32646L8.40185 2.32624C8.06682 1.99126 8.06682 1.4462 8.40185 1.11121ZM5.9715 13.2639C5.63643 13.599 5.09111 13.5991 4.75604 13.2639L1.11027 9.61817C0.775156 9.28305 0.775156 8.73787 1.11027 8.40271C1.27235 8.24059 1.48814 8.1513 1.71776 8.1513C1.94734 8.1513 2.163 8.24055 2.32504 8.40254L5.97145 12.049C6.30652 12.3839 6.30652 12.929 5.9715 13.2639ZM7.78057 10.2398L6.57912 11.4413L2.93296 7.79513L7.79414 2.93386L11.4403 6.58002L10.2366 7.7837C10.2327 7.7874 10.2289 7.79101 10.2248 7.79509L7.79539 10.2245C7.79036 10.2294 7.78551 10.2346 7.78057 10.2398ZM9.31481 11.1362L9.31227 11.1387L9.00969 11.4413C8.96986 11.4813 8.92248 11.513 8.87031 11.5346C8.81813 11.5562 8.76219 11.5673 8.70573 11.5671C8.64926 11.5673 8.59332 11.5562 8.54116 11.5346C8.48899 11.513 8.44162 11.4813 8.40181 11.4412C8.36173 11.4014 8.32996 11.354 8.30834 11.3018C8.28671 11.2496 8.27566 11.1936 8.27582 11.1371C8.27582 11.0246 8.31875 10.9187 8.39665 10.8389L10.8373 8.39824C11.0046 8.23556 11.275 8.23758 11.4403 8.40271C11.4804 8.44257 11.5122 8.48997 11.5338 8.54218C11.5554 8.59439 11.5664 8.65038 11.5663 8.70689C11.5665 8.76334 11.5554 8.81927 11.5338 8.87141C11.5122 8.92356 11.4804 8.97089 11.4403 9.01063L11.1395 9.31146C11.1374 9.31348 11.1354 9.31553 11.1333 9.3176L9.31481 11.1362ZM10.2046 11.4617L11.4604 10.2059L16.7774 14.8437L14.8372 16.7839L10.2046 11.4617ZM15.4028 17.4337L17.4265 15.4099L18.0757 15.9761L15.9683 18.0835L15.4028 17.4337ZM20.9342 20.2269C20.6569 20.7221 20.1881 21.0488 19.6479 21.1236C19.109 21.1982 18.5795 21.0207 18.1952 20.6366C18.1624 20.6039 18.131 20.5697 18.1011 20.5343L18.0969 20.5295L16.5337 18.7333L18.7248 16.5422L20.5187 18.107L20.5228 18.1106C20.6571 18.2248 20.7763 18.3619 20.8774 18.5185C21.2023 19.0206 21.2251 19.7073 20.9342 20.2269Z" />
                                    <path
                                        d="M8.09956 4.45397C7.93172 4.28618 7.65973 4.28618 7.49189 4.45397L5.66881 6.27705C5.50102 6.44484 5.50102 6.71692 5.66881 6.88467C5.70867 6.92463 5.75603 6.95632 5.80817 6.97792C5.86031 6.99952 5.91621 7.0106 5.97265 7.01052C6.02908 7.01059 6.08498 6.9995 6.13712 6.97791C6.18926 6.95631 6.23662 6.92462 6.27648 6.88467L8.09956 5.06159C8.26735 4.89384 8.26735 4.62181 8.09956 4.45397Z" />
                                </g>
                            </svg>
                            <h5>Bidding Items</h5>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Dashboard" asp-action="ListedItems">
                            <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M19.7144 18.1422L18.7319 5.7622C18.6707 4.96461 17.9962 4.3398 17.1963 4.3398H15.2557V4.25257C15.2557 1.90768 13.348 0 11.0031 0C8.6582 0 6.75051 1.90768 6.75051 4.25257V4.3398H4.80996C4.01001 4.3398 3.33544 4.96457 3.27443 5.76052L2.29165 18.1439C2.21559 19.1354 2.55956 20.1225 3.23528 20.852C3.91101 21.5815 4.86891 22 5.86334 22H16.1428C17.1372 22 18.0951 21.5816 18.7709 20.852C19.4466 20.1224 19.7905 19.1354 19.7144 18.1422ZM8.03915 4.25257C8.03915 2.61826 9.36881 1.28863 11.0031 1.28863C12.6374 1.28863 13.967 2.6183 13.967 4.25257V4.3398H8.03915V4.25257ZM17.8255 19.9764C17.3864 20.4503 16.7889 20.7114 16.1428 20.7114H5.86338C5.2173 20.7114 4.61978 20.4503 4.18072 19.9764C3.74171 19.5024 3.52713 18.8866 3.57645 18.2441L4.55915 5.86072C4.56912 5.73044 4.67929 5.62843 4.80996 5.62843H6.75051V7.21548C6.75051 7.57131 7.039 7.8598 7.39483 7.8598C7.75065 7.8598 8.03915 7.57131 8.03915 7.21548V5.62843H13.967V7.21548C13.967 7.57131 14.2555 7.8598 14.6113 7.8598C14.9672 7.8598 15.2557 7.57131 15.2557 7.21548V5.62843H17.1963C17.3269 5.62843 17.4371 5.73048 17.4472 5.86244L18.4297 18.2424C18.4791 18.8866 18.2645 19.5024 17.8255 19.9764Z" />
                                <path
                                    d="M13.9006 10.927C13.649 10.6754 13.241 10.6754 12.9895 10.927L10.1124 13.804L9.00616 12.6977C8.75458 12.4461 8.34659 12.4461 8.09497 12.6977C7.84334 12.9494 7.84334 13.3573 8.09497 13.6089L9.65684 15.1708C9.78265 15.2966 9.94757 15.3596 10.1124 15.3596C10.2772 15.3596 10.4422 15.2967 10.5679 15.1708L13.9005 11.8382C14.1522 11.5866 14.1522 11.1786 13.9006 10.927Z" />
                            </svg>
                            <h5>Listed Items</h5>
                        </a>
                    </li>
                  
                </ul>
            </div>
            <div class="dashboard-content-wrap style-2">
                <div class="dashboard-order-content">
                    <div class="dashboard-order-table">
                        <h4>Products You’ve Listed (@Model.ListedCount)</h4>
                        <table>
                            <thead>
                                <tr>
                                    <th>Item Id</th>
                                    <th>Image</th>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>Starting Bid</th>
                                    <th>End Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListedItems)
                                {
                                    <tr>
                                        <td data-label="Item Id">
                                            <span class="table-text">@item.ItemId</span>
                                        </td>
                                        <td data-label="Image">
                                            <img src="@item.ImageUrl" alt="" style="height:60px" />
                                        </td>
                                        <td data-label="Title">
                                            <span class="table-text">@item.Title</span>
                                        </td>
                                        <td data-label="Author">@item.ArtistName</td>
                                        <td data-label="Starting Bid">
                                            <span class="table-text">@item.MinimumBid.ToString("C",
                                                                                            System.Globalization.CultureInfo.GetCultureInfo("en-US"))</span>
                                    </td>
                                    <td data-label="Ends On">
                                        <span class="table-text">@item.BidEndDate.ToString("g")</span>
                                    </td>
                                    <td data-label="Actions">
                                        <div class="d-inline-flex align-items-center gap-2">
                                            <a asp-controller="Items" asp-action="Edit" asp-route-id="@item.ItemId"
                                                class="btn btn-sm btn-warning">
                                                <i class="bi bi-pencil"></i> Edit
                                            </a>
                                            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                                                data-bs-target="#deleteModal" data-item-id="@item.ItemId">
                                                <i class="bi bi-trash"></i> Delete
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                                                }
                                @if (!Model.ListedItems.Any())
                                {
                                    <tr>
                                        <td colspan="5" class="text-center">You have not listed any items yet.</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="pagination-area">
                            <div class="pagination-text">
                                <span>Showing 10 to 20 of 1 entries</span>
                            </div>
                            <div class="pagination-button">
                                <ul>
                                    <li><a href="#">Previous</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Ends deshboard section -->

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="deleteModalLabel">Confirm deletion</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this product?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form id="deleteForm" method="post" asp-controller="Items" asp-action="Delete">
                    <input type="hidden" name="id" id="deleteItemId" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var deleteModal = document.getElementById('deleteModal')
        deleteModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget
            var itemId = button.getAttribute('data-item-id')
            var input = deleteModal.querySelector('#deleteItemId')
            input.value = itemId
        })
    </script>

    <partial name="_ValidationScriptsPartial" />
    <script>
        setTimeout(function () {
            var alertEl = document.getElementById('flash-success');
            if (alertEl) {
                var bsAlert = bootstrap.Alert.getOrCreateInstance(alertEl);
                bsAlert.close();
            }
        }, 3000);
    </script>
}
