
@{
    Layout = "_Layout";
    ViewBag.Title = "Artists Portfolio";
}

 <!-- Breadcrumb section strats here -->
    <div class="breadcrumb-section"
        style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.28)), url('@Url.Content("~/assets/img/inner-page/breadcrumb-image.jpg")');>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex mb-70">
                    <div class="top-content style-2">
                        <ul>
                            <li>
                                <a href="index.html">
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M1.125 5.99955L5.602 1.52205C5.822 1.30255 6.178 1.30255 6.3975 1.52205L10.875 5.99955M2.25 4.87455V9.93705C2.25 10.2475 2.502 10.4995 2.8125 10.4995H4.875V8.06205C4.875 7.75155 5.127 7.49955 5.4375 7.49955H6.5625C6.873 7.49955 7.125 7.75155 7.125 8.06205V10.4995H9.1875C9.498 10.4995 9.75 10.2475 9.75 9.93705V4.87455M4.125 10.4995H8.25"
                                            stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </li>
                            <li>Art Catalog</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-wrapper">
                        <div class="row gy-4">
                            <div class="col-lg-7 d-flex align-items-center">
                                <div class="artist-info">
                                    <h1>Frida Kahlo</h1>
                                    <p>Frida Kahlo (1907-1954) was a pioneering Mexican artist renowned for her deeply
                                        personal
                                        and vibrant self-portraits. Her work, often infused with elements of Mexican
                                        folk art <br>
                                        and surrealism, explores themes of identity, suffering, and resilience. </p>
                                </div>
                            </div>
                            <div class="col-lg-5 d-flex justify-content-lg-end">
                                <div class="artist-image">
                                    <img src='@Url.Content("~/assets/img/inner-page/artist-image.jpg")' alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb section ends here -->

    <!-- aution card section strats here -->
    <div class="auction-card-sidebar-section pt-120 mb-120">
        <div class="container">
            <div class="row gy-5">
                <div class="col-xl-3  order-xl-1 order-2">
                    <div class="sidebar-area">
                        <div class="single-widgets widget_search mb-50">
                            <form>
                                <div class="wp-block-search__inside-wrapper ">
                                    <input type="search" id="wp-block-search__input-1" class="wp-block-search__input"
                                        name="s" value="" placeholder="Search Artist" required="">
                                    <button type="submit" class="wp-block-search__button">
                                        <svg width="16" height="16" viewBox="0 0 16 16"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M11.7425 10.3418C12.7107 9.0205 13.1444 7.38236 12.9567 5.75508C12.769 4.1278 11.9739 2.63139 10.7303 1.56522C9.48666 0.49905 7.88635 -0.0582469 6.2495 0.0048239C4.61265 0.0678947 3.05997 0.746681 1.90209 1.90538C0.744221 3.06409 0.0665459 4.61725 0.00464636 6.25415C-0.0572531 7.89104 0.501188 9.49095 1.56825 10.7338C2.63531 11.9766 4.13229 12.7707 5.7597 12.9572C7.38711 13.1438 9.02494 12.7089 10.3455 11.7397H10.3445C10.3745 11.7797 10.4065 11.8177 10.4425 11.8547L14.2924 15.7046C14.4799 15.8922 14.7342 15.9977 14.9995 15.9977C15.2647 15.9978 15.5192 15.8926 15.7068 15.7051C15.8944 15.5176 15.9999 15.2632 16 14.9979C16.0001 14.7327 15.8948 14.4782 15.7073 14.2906L11.8575 10.4408C11.8217 10.4046 11.7833 10.3711 11.7425 10.3408V10.3418ZM12.0004 6.4979C12.0004 7.22015 11.8582 7.93532 11.5818 8.60258C11.3054 9.26985 10.9003 9.87614 10.3896 10.3868C9.87889 10.8975 9.2726 11.3027 8.60533 11.5791C7.93807 11.8554 7.2229 11.9977 6.50065 11.9977C5.77841 11.9977 5.06324 11.8554 4.39597 11.5791C3.72871 11.3027 3.12242 10.8975 2.61171 10.3868C2.10101 9.87614 1.6959 9.26985 1.41951 8.60258C1.14312 7.93532 1.00086 7.22015 1.00086 6.4979C1.00086 5.03927 1.5803 3.64037 2.61171 2.60896C3.64312 1.57755 5.04202 0.99811 6.50065 0.99811C7.95929 0.99811 9.35818 1.57755 10.3896 2.60896C11.421 3.64037 12.0004 5.03927 12.0004 6.4979Z" />
                                        </svg>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="single-widgets mb-50">
                            <div class="widget-title">
                                <h5>Default Sorting</h5>
                            </div>
                            <div class="checkbox-container">
                                <ul>
                                    <li>
                                        <label class="containerss">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span>Sort By Artists (A-Z)</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="containerss">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span>Sort By Artists (z-A)</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-widgets mb-50">
                            <div class="widget-title">
                                <h5>Artist Name</h5>
                            </div>
                            <div class="checkbox-container">
                                <ul>
                                    <li>
                                        <label class="containerss">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span>Frida Kahlo </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="containerss">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span>Pablo Picasso </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="containerss">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span>Leonardo da Vinci</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="containerss">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span>Gustav Klimt</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="containerss">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span>Yayoi Kusama</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="containerss">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span>Frida Kahlo </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="containerss">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span>Pablo Picasso </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="containerss">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span>Leonardo da Vinci</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="containerss">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span>Gustav Klimt</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="containerss">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span>Yayoi Kusama</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="button-area">
                                <a href="#">See More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 order-xl-2 order-1">
                    <div class="right-content">
                        <div class="row mb-35">
                            <div class="nav-area">
                                <div class="col-lg-12 d-flex justify-content-center">
                                    <ul class="nav nav-tabs2" id="myTab5" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="artworks-tab" data-bs-toggle="tab"
                                                data-bs-target="#artworks" type="button" role="tab"
                                                aria-controls="artworks" aria-selected="false"
                                                tabindex="-1">Artworks</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="biography-tab" data-bs-toggle="tab"
                                                data-bs-target="#biography" type="button" role="tab"
                                                aria-controls="biography" aria-selected="false"
                                                tabindex="-1">Biography</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="awards-tab" data-bs-toggle="tab"
                                                data-bs-target="#awards" type="button" role="tab" aria-controls="awards"
                                                aria-selected="false" tabindex="-1">Awards</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-lg-12">
                                <div class="tab-content" id="myTabContent5">
                                    <div class="tab-pane fade show active" id="artworks" role="tabpanel">
                                        <div class="row justify-content-center gy-4">
                                            <div class="col-lg-4 col-md-6">
                                                <div class="auction-card sidebar-card">
                                                    <div class="auction-card-img-wrap">
                                                        <a href="general-art-details.html" class="card-img">
                                                            <img src='@Url.Content("~/assets/img/inner-page/sidebar-image.png")' alt="">
                                                        </a>
                                                        <div class="batch">
                                                            <span>Live</span>
                                                        </div>
                                                        <a href="#" class="wishlist">
                                                            <svg width="16" height="15" viewBox="0 0 16 15"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M8.00013 3.32629L7.32792 2.63535C5.75006 1.01348 2.85685 1.57317 1.81244 3.61222C1.32211 4.57128 1.21149 5.95597 2.10683 7.72315C2.96935 9.42471 4.76378 11.4628 8.00013 13.6828C11.2365 11.4628 13.03 9.42471 13.8934 7.72315C14.7888 5.95503 14.6791 4.57128 14.1878 3.61222C13.1434 1.57317 10.2502 1.01254 8.67234 2.63441L8.00013 3.32629ZM8.00013 14.8125C-6.375 5.31378 3.57406 -2.09995 7.83512 1.8216C7.89138 1.87317 7.94669 1.9266 8.00013 1.98192C8.05303 1.92665 8.10807 1.87349 8.16513 1.82254C12.4253 -2.10182 22.3753 5.31284 8.00013 14.8125Z" />
                                                            </svg>
                                                        </a>
                                                    </div>
                                                    <div class="auction-card-content">
                                                        <h6><a href="auction-details.html">Frida Kahlo Tropical
                                                                Print</a>
                                                        </h6>
                                                        <ul>
                                                            <li><span>Artist : </span>Frida Kahlo</li>
                                                            <li><span>Current Bidding : </span>$200.00</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="auction-card sidebar-card">
                                                    <div class="auction-card-img-wrap">
                                                        <a href="general-art-details.html" class="card-img">
                                                            <img src='@Url.Content("~/assets/img/inner-page/sidebar-image2.png")' alt="">
                                                        </a>
                                                        <div class="batch">
                                                            <span class="sold-out">Sold Out</span>
                                                        </div>
                                                        <a href="#" class="wishlist">
                                                            <svg width="16" height="15" viewBox="0 0 16 15"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M8.00013 3.32629L7.32792 2.63535C5.75006 1.01348 2.85685 1.57317 1.81244 3.61222C1.32211 4.57128 1.21149 5.95597 2.10683 7.72315C2.96935 9.42471 4.76378 11.4628 8.00013 13.6828C11.2365 11.4628 13.03 9.42471 13.8934 7.72315C14.7888 5.95503 14.6791 4.57128 14.1878 3.61222C13.1434 1.57317 10.2502 1.01254 8.67234 2.63441L8.00013 3.32629ZM8.00013 14.8125C-6.375 5.31378 3.57406 -2.09995 7.83512 1.8216C7.89138 1.87317 7.94669 1.9266 8.00013 1.98192C8.05303 1.92665 8.10807 1.87349 8.16513 1.82254C12.4253 -2.10182 22.3753 5.31284 8.00013 14.8125Z" />
                                                            </svg>
                                                        </a>
                                                    </div>
                                                    <div class="auction-card-content">
                                                        <h6><a href="auction-details.html">Me & My Parrots</a>
                                                        </h6>
                                                        <ul>
                                                            <li><span>Artist : </span>Frida Kahlo</li>
                                                        </ul>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="auction-card sidebar-card">
                                                    <div class="auction-card-img-wrap">
                                                        <a href="general-art-details.html" class="card-img">
                                                            <img src='@Url.Content("~/assets/img/inner-page/sidebar-image3.png")' alt="">
                                                        </a>
                                                        <div class="batch">
                                                            <span class="upcoming">UpComing</span>
                                                        </div>
                                                        <a href="#" class="wishlist">
                                                            <svg width="16" height="15" viewBox="0 0 16 15"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M8.00013 3.32629L7.32792 2.63535C5.75006 1.01348 2.85685 1.57317 1.81244 3.61222C1.32211 4.57128 1.21149 5.95597 2.10683 7.72315C2.96935 9.42471 4.76378 11.4628 8.00013 13.6828C11.2365 11.4628 13.03 9.42471 13.8934 7.72315C14.7888 5.95503 14.6791 4.57128 14.1878 3.61222C13.1434 1.57317 10.2502 1.01254 8.67234 2.63441L8.00013 3.32629ZM8.00013 14.8125C-6.375 5.31378 3.57406 -2.09995 7.83512 1.8216C7.89138 1.87317 7.94669 1.9266 8.00013 1.98192C8.05303 1.92665 8.10807 1.87349 8.16513 1.82254C12.4253 -2.10182 22.3753 5.31284 8.00013 14.8125Z" />
                                                            </svg>
                                                        </a>
                                                    </div>
                                                    <div class="auction-card-content">
                                                        <h6><a href="auction-details.html">The Two Fridas</a>
                                                        </h6>
                                                        <ul>
                                                            <li><span>Artist : </span>Frida Kahlo</li>
                                                            <li><span>Current Bidding : </span>$600.00</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="auction-card sidebar-card">
                                                    <div class="auction-card-img-wrap">
                                                        <a href="general-art-details.html" class="card-img">
                                                            <img src='@Url.Content("~/assets/img/inner-page/sidebar-image4.png")' alt="">
                                                        </a>
                                                        <div class="batch">
                                                            <span class="sold-out">Sold Out</span>
                                                        </div>
                                                        <a href="#" class="wishlist">
                                                            <svg width="16" height="15" viewBox="0 0 16 15"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M8.00013 3.32629L7.32792 2.63535C5.75006 1.01348 2.85685 1.57317 1.81244 3.61222C1.32211 4.57128 1.21149 5.95597 2.10683 7.72315C2.96935 9.42471 4.76378 11.4628 8.00013 13.6828C11.2365 11.4628 13.03 9.42471 13.8934 7.72315C14.7888 5.95503 14.6791 4.57128 14.1878 3.61222C13.1434 1.57317 10.2502 1.01254 8.67234 2.63441L8.00013 3.32629ZM8.00013 14.8125C-6.375 5.31378 3.57406 -2.09995 7.83512 1.8216C7.89138 1.87317 7.94669 1.9266 8.00013 1.98192C8.05303 1.92665 8.10807 1.87349 8.16513 1.82254C12.4253 -2.10182 22.3753 5.31284 8.00013 14.8125Z" />
                                                            </svg>
                                                        </a>
                                                    </div>
                                                    <div class="auction-card-content">
                                                        <h6><a href="auction-details.html">Memory The Heart</a>
                                                        </h6>
                                                        <ul>
                                                            <li><span>Artist : </span>Frida Kahlo</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="auction-card sidebar-card">
                                                    <div class="auction-card-img-wrap">
                                                        <a href="general-art-details.html" class="card-img">
                                                            <img src='@Url.Content("~/assets/img/inner-page/sidebar-image5.png")' alt="">
                                                        </a>
                                                        <div class="batch">
                                                            <span class="sold-out">Sold Out</span>
                                                        </div>
                                                        <a href="#" class="wishlist">
                                                            <svg width="16" height="15" viewBox="0 0 16 15"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M8.00013 3.32629L7.32792 2.63535C5.75006 1.01348 2.85685 1.57317 1.81244 3.61222C1.32211 4.57128 1.21149 5.95597 2.10683 7.72315C2.96935 9.42471 4.76378 11.4628 8.00013 13.6828C11.2365 11.4628 13.03 9.42471 13.8934 7.72315C14.7888 5.95503 14.6791 4.57128 14.1878 3.61222C13.1434 1.57317 10.2502 1.01254 8.67234 2.63441L8.00013 3.32629ZM8.00013 14.8125C-6.375 5.31378 3.57406 -2.09995 7.83512 1.8216C7.89138 1.87317 7.94669 1.9266 8.00013 1.98192C8.05303 1.92665 8.10807 1.87349 8.16513 1.82254C12.4253 -2.10182 22.3753 5.31284 8.00013 14.8125Z" />
                                                            </svg>
                                                        </a>
                                                    </div>
                                                    <div class="auction-card-content">
                                                        <h6><a href="auction-details.html">Self-Portrait</a>
                                                        </h6>
                                                        <ul>
                                                            <li><span>Artist : </span>Frida Kahlo</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="auction-card sidebar-card">
                                                    <div class="auction-card-img-wrap">
                                                        <a href="general-art-details.html" class="card-img">
                                                            <img src='@Url.Content("~/assets/img/inner-page/sidebar-image6.png")' alt="">
                                                        </a>
                                                        <div class="batch">
                                                            <span>Live</span>
                                                        </div>
                                                        <a href="#" class="wishlist">
                                                            <svg width="16" height="15" viewBox="0 0 16 15"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M8.00013 3.32629L7.32792 2.63535C5.75006 1.01348 2.85685 1.57317 1.81244 3.61222C1.32211 4.57128 1.21149 5.95597 2.10683 7.72315C2.96935 9.42471 4.76378 11.4628 8.00013 13.6828C11.2365 11.4628 13.03 9.42471 13.8934 7.72315C14.7888 5.95503 14.6791 4.57128 14.1878 3.61222C13.1434 1.57317 10.2502 1.01254 8.67234 2.63441L8.00013 3.32629ZM8.00013 14.8125C-6.375 5.31378 3.57406 -2.09995 7.83512 1.8216C7.89138 1.87317 7.94669 1.9266 8.00013 1.98192C8.05303 1.92665 8.10807 1.87349 8.16513 1.82254C12.4253 -2.10182 22.3753 5.31284 8.00013 14.8125Z" />
                                                            </svg>
                                                        </a>
                                                    </div>
                                                    <div class="auction-card-content">
                                                        <h6><a href="auction-details.html">Self-Portrait With
                                                                Birds</a>
                                                        </h6>
                                                        <ul>
                                                            <li><span>Artist : </span>Frida Kahlo</li>
                                                            <li><span>Current Bidding : </span>$550.00</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="auction-card sidebar-card">
                                                    <div class="auction-card-img-wrap">
                                                        <a href="general-art-details.html" class="card-img">
                                                            <img src='@Url.Content("~/assets/img/inner-page/sidebar-image7.png")' alt="">
                                                        </a>
                                                        <div class="batch">
                                                            <span class="upcoming">UpComing</span>
                                                        </div>
                                                        <a href="#" class="wishlist">
                                                            <svg width="16" height="15" viewBox="0 0 16 15"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M8.00013 3.32629L7.32792 2.63535C5.75006 1.01348 2.85685 1.57317 1.81244 3.61222C1.32211 4.57128 1.21149 5.95597 2.10683 7.72315C2.96935 9.42471 4.76378 11.4628 8.00013 13.6828C11.2365 11.4628 13.03 9.42471 13.8934 7.72315C14.7888 5.95503 14.6791 4.57128 14.1878 3.61222C13.1434 1.57317 10.2502 1.01254 8.67234 2.63441L8.00013 3.32629ZM8.00013 14.8125C-6.375 5.31378 3.57406 -2.09995 7.83512 1.8216C7.89138 1.87317 7.94669 1.9266 8.00013 1.98192C8.05303 1.92665 8.10807 1.87349 8.16513 1.82254C12.4253 -2.10182 22.3753 5.31284 8.00013 14.8125Z" />
                                                            </svg>
                                                        </a>
                                                    </div>
                                                    <div class="auction-card-content">
                                                        <h6><a href="auction-details.html">Self Portrait With
                                                                Monkey</a>
                                                        </h6>
                                                        <ul>
                                                            <li><span>Artist : </span>Frida Kahlo</li>
                                                            <li><span>Bidding will Started : </span>$200.00</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="auction-card sidebar-card">
                                                    <div class="auction-card-img-wrap">
                                                        <a href="general-art-details.html" class="card-img">
                                                            <img src='@Url.Content("~/assets/img/inner-page/sidebar-image8.png")' alt="">
                                                        </a>
                                                        <div class="batch">
                                                            <span class="sold-out">Sold Out</span>
                                                        </div>
                                                        <a href="#" class="wishlist">
                                                            <svg width="16" height="15" viewBox="0 0 16 15"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M8.00013 3.32629L7.32792 2.63535C5.75006 1.01348 2.85685 1.57317 1.81244 3.61222C1.32211 4.57128 1.21149 5.95597 2.10683 7.72315C2.96935 9.42471 4.76378 11.4628 8.00013 13.6828C11.2365 11.4628 13.03 9.42471 13.8934 7.72315C14.7888 5.95503 14.6791 4.57128 14.1878 3.61222C13.1434 1.57317 10.2502 1.01254 8.67234 2.63441L8.00013 3.32629ZM8.00013 14.8125C-6.375 5.31378 3.57406 -2.09995 7.83512 1.8216C7.89138 1.87317 7.94669 1.9266 8.00013 1.98192C8.05303 1.92665 8.10807 1.87349 8.16513 1.82254C12.4253 -2.10182 22.3753 5.31284 8.00013 14.8125Z" />
                                                            </svg>
                                                        </a>
                                                    </div>
                                                    <div class="auction-card-content">
                                                        <h6><a href="auction-details.html">Self-Portrait With
                                                                Cat</a>
                                                        </h6>
                                                        <ul>
                                                            <li><span>Artist : </span>Frida Kahlo</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="auction-card sidebar-card">
                                                    <div class="auction-card-img-wrap">
                                                        <a href="general-art-details.html" class="card-img">
                                                            <img src='@Url.Content("~/assets/img/inner-page/sidebar-image9.png")' alt="">
                                                        </a>
                                                        <div class="batch">
                                                            <span>Live</span>
                                                        </div>
                                                        <a href="#" class="wishlist">
                                                            <svg width="16" height="15" viewBox="0 0 16 15"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M8.00013 3.32629L7.32792 2.63535C5.75006 1.01348 2.85685 1.57317 1.81244 3.61222C1.32211 4.57128 1.21149 5.95597 2.10683 7.72315C2.96935 9.42471 4.76378 11.4628 8.00013 13.6828C11.2365 11.4628 13.03 9.42471 13.8934 7.72315C14.7888 5.95503 14.6791 4.57128 14.1878 3.61222C13.1434 1.57317 10.2502 1.01254 8.67234 2.63441L8.00013 3.32629ZM8.00013 14.8125C-6.375 5.31378 3.57406 -2.09995 7.83512 1.8216C7.89138 1.87317 7.94669 1.9266 8.00013 1.98192C8.05303 1.92665 8.10807 1.87349 8.16513 1.82254C12.4253 -2.10182 22.3753 5.31284 8.00013 14.8125Z" />
                                                            </svg>
                                                        </a>
                                                    </div>
                                                    <div class="auction-card-content">
                                                        <h6><a href="auction-details.html">Frida Kahlo Love’s</a>
                                                        </h6>
                                                        <ul>
                                                            <li><span>Artist : </span>Frida Kahlo</li>
                                                            <li><span>Current Bidding : </span>$950.00</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div
                                                    class="page-navigation-area d-flex flex-wrap align-items-center justify-content-between">
                                                    <div class="prev-next-btn">
                                                        <a href="#">
                                                            <svg width="7" height="14" viewBox="0 0 7 14"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M0 7.00008L7 0L2.54545 7.00008L7 14L0 7.00008Z" />
                                                            </svg>
                                                            prev
                                                        </a>
                                                    </div>
                                                    <ul class="pagination">
                                                        <li class="active"><a href="#">01</a></li>
                                                        <li><a href="#">02</a></li>
                                                        <li><a href="#">03</a></li>
                                                    </ul>
                                                    <div class="prev-next-btn">
                                                        <a href="#">
                                                            next
                                                            <svg width="7" height="14" viewBox="0 0 7 14"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M7 7.00008L0 0L4.45455 7.00008L0 14L7 7.00008Z" />
                                                            </svg>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="biography" role="tabpanel">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <div class="biography-section">
                                                    <p class="biography-top-text">Frida Kahlo (1907-1954) was a Mexican
                                                        painter known for her
                                                        distinctive, vibrant self-portraits and her deeply personal and
                                                        symbolic art. Here are some key points about her life and work:
                                                    </p>
                                                    <div class="biography-card">
                                                        <h4>Early Life and Background</h4>
                                                        <p><span>Birth:</span> Born on July 6, 1907, in Coyoacán, Mexico
                                                            City.</p>
                                                        <p><span>Health Issues:</span> Experienced polio as a child and
                                                            a severe bus accident at age 18, which led to numerous
                                                            surgeries and chronic pain.</p>
                                                    </div>
                                                    <div class="biography-card">
                                                        <h4>Artistic Career</h4>
                                                        <p><span>Style:</span> Known for her surrealist and symbolic
                                                            style, her work often includes elements of Mexican folk art
                                                            and indigenous culture.</p>
                                                        <p><span>Notable Works:</span> Some of her most famous works
                                                            include "The Two Fridas" (1939), "Self-Portrait with Thorn
                                                            Necklace and Hummingbird" (1940), and "The Broken Column"
                                                            (1944)</p>
                                                    </div>
                                                    <div class="biography-card">
                                                        <h4>Personal Life</h4>
                                                        <p><span>Marriage:</span> Married fellow artist Diego Rivera in
                                                            1931. Their tumultuous relationship and its impact on her
                                                            art were significant aspects of her life.</p>
                                                        <p><span>Political Activism:</span> Actively involved in leftist
                                                            politics and supported the Mexican Communist Party.</p>
                                                    </div>
                                                    <div class="biography-card">
                                                        <h4>Legacy</h4>
                                                        <p><span>Influence:</span> Kahlo’s work has had a lasting impact
                                                            on art, particularly in terms of how women’s experiences and
                                                            identities are represented.</p>
                                                        <p><span>Museum:</span> The Frida Kahlo Museum, also known as La
                                                            Casa Azul (The Blue House), is located in her former home in
                                                            Coyoacán and is dedicated to her life and work</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="biography-right-section">
                                                    <div class="biography-right-content">
                                                        <h6>Nationality</h6>
                                                        <p>Mexican artist</p>
                                                    </div>
                                                    <div class="biography-right-content">
                                                        <h6>Categories</h6>
                                                        <p>Self Portraits, Mexican Culture and Folklore, Surrealism,
                                                            Politics and Social Issues, Nature and Animals
                                                        </p>
                                                    </div>
                                                    <div class="biography-right-content">
                                                        <h6>Themes</h6>
                                                        <p>Identity, postcolonialism, gender, class, and race in Mexican
                                                            society.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="awards" role="tabpanel">
                                        <div class="awards-section">
                                            <p>Frida Kahlo did not receive many formal awards during her lifetime, as
                                                her work was not widely recognized until after her death. However, she
                                                did receive some notable recognition or award:</p>
                                            <ul class="awards-list">
                                                <li>
                                                    <div class="content">
                                                        <span>1946</span>
                                                        <h4>National Prize of Arts and Sciences(Mexico)</h4>
                                                        <p>Site Of The Day</p>
                                                    </div>
                                                    <div class="button-area">
                                                        <a href="#" class="icon">
                                                            <svg width="16" height="16" viewBox="0 0 16 16"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                                    d="M13.582 1.41649L0 14.9978L1.00217 16L14.5835 2.41795L14.5835 11.8086H16L16 0L4.1914 0V1.41649L13.582 1.41649Z" />
                                                            </svg>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="content">
                                                        <span>1970</span>
                                                        <h4>Turner Prize (UK)</h4>
                                                        <p>Site Of The Month</p>
                                                    </div>
                                                    <div class="button-area">
                                                        <a href="#" class="icon">
                                                            <svg width="16" height="16" viewBox="0 0 16 16"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                                    d="M13.582 1.41649L0 14.9978L1.00217 16L14.5835 2.41795L14.5835 11.8086H16L16 0L4.1914 0V1.41649L13.582 1.41649Z" />
                                                            </svg>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="content">
                                                        <span>1946</span>
                                                        <h4>Praemium Imperiale (Japan)</h4>
                                                        <p>Site Of The Month</p>
                                                    </div>
                                                    <div class="button-area">
                                                        <a href="#" class="icon">
                                                            <svg width="16" height="16" viewBox="0 0 16 16"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                                    d="M13.582 1.41649L0 14.9978L1.00217 16L14.5835 2.41795L14.5835 11.8086H16L16 0L4.1914 0V1.41649L13.582 1.41649Z" />
                                                            </svg>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="content">
                                                        <span>1946</span>
                                                        <h4>Turner Prize (UK)</h4>
                                                        <p>Site Of The Month</p>
                                                    </div>
                                                    <div class="button-area">
                                                        <div class="icon">
                                                            <svg width="16" height="16" viewBox="0 0 16 16"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                                    d="M13.582 1.41649L0 14.9978L1.00217 16L14.5835 2.41795L14.5835 11.8086H16L16 0L4.1914 0V1.41649L13.582 1.41649Z" />
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- aution card section ends here -->