@{
    Layout    = "_Layout";
    ViewBag.Title = "Artists";
}

 <!-- Breadcrumb section strats here -->
    <div class="breadcrumb-section"
        style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.28)), url('@Url.Content("~/assets/img/inner-page/breadcrumb-image.jpg")');>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex mb-70">
                    <div class="top-content style-2">
                        <ul>
                            <li>
                                <a href="index.html">
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M1.125 5.99955L5.602 1.52205C5.822 1.30255 6.178 1.30255 6.3975 1.52205L10.875 5.99955M2.25 4.87455V9.93705C2.25 10.2475 2.502 10.4995 2.8125 10.4995H4.875V8.06205C4.875 7.75155 5.127 7.49955 5.4375 7.49955H6.5625C6.873 7.49955 7.125 7.75155 7.125 8.06205V10.4995H9.1875C9.498 10.4995 9.75 10.2475 9.75 9.93705V4.87455M4.125 10.4995H8.25"
                                            stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </li>
                            <li>Art Catalog</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-wrapper">
                        <div class="row gy-4">
                            <div class="col-lg-7 d-flex align-items-center">
                                <div class="artist-info">
                                    <h1>Frida Kahlo</h1>
                                    <p>Frida Kahlo (1907-1954) was a pioneering Mexican artist renowned for her deeply
                                        personal
                                        and vibrant self-portraits. Her work, often infused with elements of Mexican
                                        folk art <br>
                                        and surrealism, explores themes of identity, suffering, and resilience. </p>
                                </div>
                            </div>
                            <div class="col-lg-5 d-flex justify-content-lg-end">
                                <div class="artist-image">
                                    <img src='@Url.Content("~/assets/img/inner-page/artist-image.jpg")' alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb section ends here -->

    <!--Artist Section Start -->
    <div class="artist-grid-section pt-120 mb-120">
        <div class="container">
            <div class="row g-3 row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">
                <div class="col wow animate fadeInDown" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="artist-card">
                        <a href="artists-portfolio.html"><img src='@Url.Content("~/assets/img/home1/artist-img1.png")' alt=""></a>
                        <div class="artist-content">
                            <h6><a href="artists-portfolio.html">Frida Kahlo</a></h6>
                            <span>1907-1954 (Mexico)</span>
                        </div>
                    </div>
                </div>
                <div class="col wow animate fadeInDown" data-wow-delay="400ms" data-wow-duration="1500ms">
                    <div class="artist-card">
                        <a href="artists-portfolio.html"><img src='@Url.Content("~/assets/img/home1/artist-img2.png")' alt=""></a>
                        <div class="artist-content">
                            <h6><a href="artists-portfolio.html">Pablo Picasso</a></h6>
                            <span>1881-1973 (Spain)</span>
                        </div>
                    </div>
                </div>
                <div class="col wow animate fadeInDown" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="artist-card">
                        <a href="artists-portfolio.html"><img src='@Url.Content("~/assets/img/home1/artist-img3.png")' alt=""></a>
                        <div class="artist-content">
                            <h6><a href="artists-portfolio.html">Leonardo da Vinci</a></h6>
                            <span>1452-1519 (Italy)</span>
                        </div>
                    </div>
                </div>
                <div class="col wow animate fadeInDown" data-wow-delay="700ms" data-wow-duration="1500ms">
                    <div class="artist-card">
                        <a href="artists-portfolio.html"><img src='@Url.Content("~/assets/img/home1/artist-img4.png")' alt=""></a>
                        <div class="artist-content">
                            <h6><a href="artists-portfolio.html">Andy Warhol</a></h6>
                            <span>1928-1987 (USA)</span>
                        </div>
                    </div>
                </div>
                <div class="col wow animate fadeInDown" data-wow-delay="800ms" data-wow-duration="1500ms">
                    <div class="artist-card">
                        <a href="artists-portfolio.html"><img src='@Url.Content("~/assets/img/home1/artist-img5.png")' alt=""></a>
                        <div class="artist-content">
                            <h6><a href="artists-portfolio.html">Gustav Klimt</a></h6>
                            <span>1862-1918 (Austria)</span>
                        </div>
                    </div>
                </div>
                <div class="col wow animate fadeInDown" data-wow-delay="800ms" data-wow-duration="1500ms">
                    <div class="artist-card">
                        <a href="artists-portfolio.html"><img src='@Url.Content("~/assets/img/home1/artist-img6.png")' alt=""></a>
                        <div class="artist-content">
                            <h6><a href="artists-portfolio.html">Henri Matisse</a></h6>
                            <span>1869-1954 (France)</span>
                        </div>
                    </div>
                </div>
                <div class="col wow animate fadeInDown" data-wow-delay="700ms" data-wow-duration="1500ms">
                    <div class="artist-card">
                        <a href="artists-portfolio.html"><img src='@Url.Content("~/assets/img/home1/artist-img7.png")' alt=""></a>
                        <div class="artist-content">
                            <h6><a href="artists-portfolio.html">Diego Rivera</a></h6>
                            <span>1886-1957 (Mexico)</span>
                        </div>
                    </div>
                </div>
                <div class="col wow animate fadeInDown" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="artist-card">
                        <a href="artists-portfolio.html"><img src='@Url.Content("~/assets/img/home1/artist-img8.png")' alt=""></a>
                        <div class="artist-content">
                            <h6><a href="artists-portfolio.html">Joan Miró</a></h6>
                            <span>1893-1983 (Spain)</span>
                        </div>
                    </div>
                </div>
                <div class="col wow animate fadeInDown" data-wow-delay="400ms" data-wow-duration="1500ms">
                    <div class="artist-card">
                        <a href="artists-portfolio.html"><img src='@Url.Content("~/assets/img/home1/artist-img9.png")' alt=""></a>
                        <div class="artist-content">
                            <h6><a href="artists-portfolio.html">Yayoi Kusama</a></h6>
                            <span>1929 (Japan)</span>
                        </div>
                    </div>
                </div>
                <div class="col wow animate fadeInDown" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="artist-card">
                        <a href="artists-portfolio.html"><img src='@Url.Content("~/assets/img/home1/artist-img10.png")' alt=""></a>
                        <div class="artist-content">
                            <h6><a href="artists-portfolio.html">Mark Jon</a></h6>
                            <span>1907-1954 (Mexico)</span>
                        </div>
                    </div>
                </div>
                <div class="col wow animate fadeInDown" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="artist-card">
                        <a href="artists-portfolio.html"><img src='@Url.Content("~/assets/img/inner-page/artist-img11.jpg")' alt=""></a>
                        <div class="artist-content">
                            <h6><a href="artists-portfolio.html">Salvador Dalí</a></h6>
                            <span>1904- 1989 (Spain)</span>
                        </div>
                    </div>
                </div>
                <div class="col wow animate fadeInDown" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="artist-card">
                        <a href="artists-portfolio.html"><img src='@Url.Content("~/assets/img/inner-page/artist-img12.jpg")' alt=""></a>
                        <div class="artist-content">
                            <h6><a href="artists-portfolio.html">Edvard Munch</a></h6>
                            <span>1863-1944 (Norway)</span>
                        </div>
                    </div>
                </div>
                <div class="col wow animate fadeInDown" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="artist-card">
                        <a href="artists-portfolio.html"><img src='@Url.Content("~/assets/img/inner-page/artist-img13.jpg")' alt=""></a>
                        <div class="artist-content">
                            <h6><a href="artists-portfolio.html">Claude Monet</a></h6>
                            <span>1840-1926 (France)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  Artist Section End -->