@model OnlineAuctionSystem.ViewModels.AuctionDetailsVm
@using System.Globalization
@using System.Security.Claims;




@{
    Layout = "_Layout";
    ViewBag.Title = Model.Title;

    var currentUserId = User.Identity?.IsAuthenticated == true
        ? int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)!)
        : 0;
}

<!-- Top area starts -->
<div class="top-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 d-flex mb-120">
                <div class="top-content style-3">
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Index">
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M1.125 5.99955L5.602 1.52205C5.822 1.30255 6.178 1.30255 6.3975 1.52205L10.875 5.99955M2.25 4.87455V9.93705C2.25 10.2475 2.502 10.4995 2.8125 10.4995H4.875V8.06205C4.875 7.75155 5.127 7.49955 5.4375 7.49955H6.5625C6.873 7.49955 7.125 7.75155 7.125 8.06205V10.4995H9.1875C9.498 10.4995 9.75 10.2475 9.75 9.93705V4.87455M4.125 10.4995H8.25"
                                            stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </a>
                        </li>
                        <li><a asp-controller="Home" asp-action="AuctionGrid">Art Catalog</a></li>
                        <li><a asp-controller="Home" asp-action="AuctionGrid">Auction Art</a></li>
                        <li>@Model.Title</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top area ends -->

<!-- Auction details section starts here -->
<div class="auction-details-section mb-120">
    <div class="container">
        <div class="row gy-5">
            <div class="col-lg-7">
                <div class="auction-details-img">
                    <div class="tab-content" id="v-pills-tabContent">
                        @for (int i = 0; i < Model.Images.Count; i++)
                        {
                            <div class="tab-pane fade @(i == 0 ? "show active" : "")" id="v-pills-img@i" role="tabpanel">
                                <div class="auction-details-tab-img">
                                    <div class="swiper auction-details-tab-swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="tab-image">
                                                    <img src="@Url.Content(Model.Images[i].FilePath)" alt="@Model.Title" class="img-fluid" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slider-btn-grp">
                                        <div class="slider-btn auction-details-slider-prev2">
                                            <svg width="10" height="16" viewBox="0 0 10 16"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M0.735295 8.27932L10 16L4.10428 8.27932L10 0.558823L0.735295 8.27932Z" />
                                            </svg>
                                        </div>
                                        <div class="slider-btn auction-details-slider-next2">
                                            <svg width="10" height="16" viewBox="0 0 10 16"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M9.26471 7.72068L0 0L5.89572 7.72068L0 15.4412L9.26471 7.72068Z" />
                                            </svg>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="nav nav-pills auction-details-nav-slider">
                        <div class="swiper-wrapper">
                            @for(int i = 0; i < Model.ThumbnailUrls.Count; i++)
                            {
                            <div class="swiper-slide">
                                <div class="nav-item" role="presentation">
                                <button class="nav-link @(i == 0 ? "active" : "")"
                                        data-bs-toggle="pill"
                                        data-bs-target="#v-pills-img@i">
                                    <img src="@Model.ThumbnailUrls[i]" alt="thumb @i" class="img-thumbnail" />
                                </button>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 wow animate fadeInRight" data-wow-delay="200ms" data-wow-duration="1500ms">
                <div class="auction-details-content">
                    <div class="batch">
                        <h6>ID<span>#@Model.ItemId</span></h6>
                    </div>
                    <h3>@Model.Title</h3>
                    <p class="category">
                        <strong>Category:</strong> @Model.CategoryName
                    </p>
                     <ul class="artist-info">
                    <li><span>Artist :</span> @Model.ArtistName</li>
                    <li>
                        <span>Current Bid :</span>
                        @Model.CurrentBid.ToString("C", CultureInfo.GetCultureInfo("en-US"))
                    </li>
                </ul>
                    <div class="quantity-area">

                        @if (currentUserId != Model.SellerId && currentUserId != 0)
                        {
                        <form asp-controller="Home" asp-action="PlaceBid" method="post">
                            <input type="hidden" name="itemId" value="@Model.ItemId" />
                            <input type="hidden" name="returnUrl" value="@Context.Request.Path + Context.Request.QueryString" />

                            <div class="quantity-counter-and-btn-area">
                            <div class="quantity-counter">
                                <button type="button" id="minusBtn" class="quantity__minus"><i class="bx bx-minus"></i></button>
                                <input 
                                id="bidInput" 
                                name="bidAmount" 
                                type="text" 
                                class="quantity__input" 
                                value="@Model.CurrentBid" 
                                readonly />
                                <button type="button" id="plusBtn" class="quantity__plus"><i class="bx bx-plus"></i></button>
                            </div>
                            <button type="submit" class="primary-btn1 btn-hover">
                                <span>Place Bid</span><strong></strong>
                            </button>
                            </div>
                        </form>

                        
                        }
                        else if (currentUserId == Model.SellerId)
                        {
                        <div class="alert alert-info">
                            This is your product, you can't set the price.
                        </div>
                        }
                        else
                        {
                        <div class="alert alert-warning">
                            <a asp-controller="Account" asp-action="Login">Login</a> to bid.
                        </div>
                        }
                    </div>
                    
                    <div class="countdown-area">
                        <h6>Auction will Be End</h6>
                        <div class="countdown-timer">
                            <ul data-countdown="@Model.BidEndDate.ToString("yyyy-MM-dd HH:mm:ss")">
                                <li class="times" data-days="00">00</li>
                                <li class="colon">:</li>
                                <li class="times" data-hours="00">00</li>
                                <li class="colon">:</li>
                                <li class="times" data-minutes="00">00</li>
                                <li class="colon">:</li>
                                <li class="times" data-seconds="00">00</li>
                            </ul>
                        </div>
                        <span class="ending-time">Ending : <strong>@Model.BidEndDate.ToString("MMMM dd 'at' h:mm tt")</strong></span>
                    </div>

                    <div class="auction-history-area">
                        <a asp-controller="Home" asp-action="BidHistory" asp-route-id="@Model.ItemId" class="btn bg-dark text-white border-dark">
                            View auction history
                        </a>
                    </div>
                    <div class="payment-method">
                        <ul class="payment-list">
                                <li>
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.375 9.5625L7.875 14.0625L14.625 3.9375" stroke="#1D972B"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    Shipping : Less than one week
                                </li>
                                <li>
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.375 9.5625L7.875 14.0625L14.625 3.9375" stroke="#1D972B"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    Secure delivery : United States + $162
                                </li>
                                <li>
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.375 9.5625L7.875 14.0625L14.625 3.9375" stroke="#1D972B"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    Free returns within Two Weekes
                                </li>
                                <li>
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.375 9.5625L7.875 14.0625L14.625 3.9375" stroke="#1D972B"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    Authenticity Certificate
                                </li>
                                <li>
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.375 9.5625L7.875 14.0625L14.625 3.9375" stroke="#1D972B"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    Secured Payment Gateways
                                </li>
                            </ul>
                            <ul class="payment-card">
                                <li>
                                    <img src='@Url.Content("~/assets/img/inner-page/payment-image.svg")' alt="">
                                </li>
                                <li>
                                    <img src='@Url.Content("~/assets/img/inner-page/payment-image2.svg")' alt="">
                                </li>
                                <li>
                                    <img src='@Url.Content("~/assets/img/inner-page/payment-image3.svg")' alt="">
                                </li>
                                <li>
                                    <img src='@Url.Content("~/assets/img/inner-page/payment-image4.svg")' alt="">
                                </li>
                            </ul>
                    </div>
                    <span class="ask-question">Have any question? <a asp-controller="Home" asp-action="Contact">Ask Us</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Auction details section ends here -->

<!-- Product description section strats here -->
    <div class="product-description mb-120">
        <div class="container">
            <div class="row justify-content-center gy-4">
                <div class="col-xxl-3 col-lg-6">
                    <div class="artist-overview">
                        <h5>Artist Overview</h5>
                        <ul>
                            <li>
                                <h6>Date of Birth and death</h6>
                                <p>Born on July 6, 1907, and passed away on July 13, 1954</p>
                            </li>
                            <li>
                                <h6>Nationality</h6>
                                <p>Mexican</p>
                            </li>
                            <li>
                                <h6>Style</h6>
                                <p>She Known for her surrealist and symbolic style</p>
                            </li>
                            <li>
                                <h6>Notable work</h6>
                                <p>"The Two Fridas" (1939), "Self-Portrait with Thorn Necklace and Hummingbird"
                                    (1940),
                                    and "The Broken Column" (1944)</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xxl-5 col-lg-6">
                    <div class="exploring-artwork">
                        <h5>Exploring the Artwork</h5>
                        <ul>
                            <li>
                                <h6>Category :</h6>
                                <p>Oil Painting</p>
                            </li>
                            <li>
                                <h6>Size :</h6>
                                <p>29.7 x 28 inch x 8 inch (Height x Width x Depth)</p>
                            </li>
                            <li>
                                <h6>Framing :</h6>
                                <p>Not Frame</p>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <h6>Theme :</h6>
                                <p>Nature and Animals</p>
                            </li>
                            <li>
                                <h6>Signature :</h6>
                                <p>Signed by Artist</p>
                            </li>
                            <li>
                                <h6>Authenticity : </h6>
                                <p>Includes Certificate of Authenticity for auction.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xxl-4 col-lg-6">
                    <div class="narrative-guidelines">
                        <h5>Art Inner narrative & guidelines</h5>
                        <ul>
                            <li>
                                <h6>Inner Narrative Of This Artwork</h6>
                                <p>This Artworks often delve into personal and emotional experiences, so these terms
                                    capture the depth and complexity of the themes the artist explores.</p>
                            </li>
                        </ul>
                        <div class="guidelines">
                            <h6>Guidelines for The Art work :</h6>
                            <ul class="guidelines-list">
                                <li>Framing the artwork/painting</li>
                                <li>Keep the painting away from direct sunlight</li>
                                <li>Dust the surface gently with a soft dry brush or cloth</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product description section ends here -->

    

    @if(Model.SimilarAuctions != null && Model.SimilarAuctions.Any())
{
    <div class="home1-auction-slider-section mb-120">
        <div class="container">
            <div class="row mb-50 align-items-center justify-content-between flex-wrap gap-3 wow animate fadeInDown" data-wow-delay="200ms" data-wow-duration="1500ms">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h3>Similar Auctions</h3>
                    </div>
                </div>
            </div>
            <div class="auction-slider-wrap wow animate fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="swiper home1-auction-slider">
                            <div class="swiper-wrapper">
                                @foreach (var card in Model.SimilarAuctions)
                                {
                                    <div class="swiper-slide">
                                        <div class="auction-card">
                                            <div class="auction-card-img-wrap">
                                                <a asp-controller="Home" asp-action="Details" asp-route-id="@card.ItemId" class="card-img">
                                                    <img src="@Url.Content(card.ImageUrl)" class="img-fluid" alt="@card.Title" />
                                                </a>
                                                <div class="batch">
                                                    <span class="@(card.BidStatus)">@card.BidStatus</span>
                                                </div>
                                                <a asp-controller="Home" asp-action="AddToWishlist" asp-route-id="@card.ItemId" class="wishlist">
                                                    <svg width="16" height="15" viewBox="0 0 16 15"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M8.00013 3.32629L7.32792 2.63535C5.75006 1.01348 2.85685 1.57317 1.81244 3.61222C1.32211 4.57128 1.21149 5.95597 2.10683 7.72315C2.96935 9.42471 4.76378 11.4628 8.00013 13.6828C11.2365 11.4628 13.03 9.42471 13.8934 7.72315C14.7888 5.95503 14.6791 4.57128 14.1878 3.61222C13.1434 1.57317 10.2502 1.01254 8.67234 2.63441L8.00013 3.32629ZM8.00013 14.8125C-6.375 5.31378 3.57406 -2.09995 7.83512 1.8216C7.89138 1.87317 7.94669 1.9266 8.00013 1.98192C8.05303 1.92665 8.10807 1.87349 8.16513 1.82254C12.4253 -2.10182 22.3753 5.31284 8.00013 14.8125Z" />
                                                    </svg>
                                                </a>
                                                <div class="countdown-timer">
                                                    <ul data-countdown="@Model.BidEndDate.ToString("yyyy-MM-dd HH:mm:ss")">
                                                        <li class="times" data-days="00">00</li>
                                                        <li class="colon">:</li>
                                                        <li class="times" data-hours="00">00</li>
                                                        <li class="colon">:</li>
                                                        <li class="times" data-minutes="00">00</li>
                                                        <li class="colon">:</li>
                                                        <li class="times" data-seconds="00">00</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="auction-card-content">
                                                <h6>
                                                    <a asp-controller="Home" asp-action="Details" asp-route-id="@card.ItemId">@card.Title</a>
                                                </h6>
                                                <ul>
                                                    <li><span>Artist : </span>@card.ArtistName</li>
                                                    <li><span>Current Bidding : </span>@card.CurrentBid.ToString("C", CultureInfo.GetCultureInfo("en-US"))</li>
                                                </ul>
                                                <a asp-controller="Home" asp-action="Details" asp-route-id="@card.ItemId" class="bid-btn btn-hover">
                                                    <span>Bidding Start</span><strong></strong>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-btn-grp">
                    <div class="slider-btn auction-slider-prev">
                        <svg width="10" height="16" viewBox="0 0 10 16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.735295 8.27932L10 16L4.10428 8.27932L10 0.558823L0.735295 8.27932Z" />
                        </svg>
                    </div>
                    <div class="slider-btn auction-slider-next">
                        <svg width="10" height="16" viewBox="0 0 10 16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.26471 7.72068L0 0L5.89572 7.72068L0 15.4412L9.26471 7.72068Z" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {

     <script>
        (function(){
          const min    = @Model.MinimumBid;
          const inc    = @Model.BidIncrement;
          const input  = document.getElementById('bidInput');
          document.getElementById('minusBtn').addEventListener('click', () => {
            let v = parseFloat(input.value) - inc;
            if (v < min) v = min;
            input.value = v.toFixed(2);
          });
          document.getElementById('plusBtn').addEventListener('click', () => {
            let v = parseFloat(input.value) + inc;
            input.value = v.toFixed(2);
          });
        })();
      </script>
}