@model IEnumerable<OnlineAuctionSystem.ViewModels.AuctionCardVm>
@using System.Globalization

<!-- Breadcrumb section strats here -->
    <div class="breadcrumb-section"
        style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.28)), url('@Url.Content("~/assets/img/inner-page/breadcrumb-image.jpg")');>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex mb-70">
                    <div class="top-content style-2">
                        <ul>
                            <li>
                                <a href="index.html">
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M1.125 5.99955L5.602 1.52205C5.822 1.30255 6.178 1.30255 6.3975 1.52205L10.875 5.99955M2.25 4.87455V9.93705C2.25 10.2475 2.502 10.4995 2.8125 10.4995H4.875V8.06205C4.875 7.75155 5.127 7.49955 5.4375 7.49955H6.5625C6.873 7.49955 7.125 7.75155 7.125 8.06205V10.4995H9.1875C9.498 10.4995 9.75 10.2475 9.75 9.93705V4.87455M4.125 10.4995H8.25"
                                            stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </li>
                            <li>Art Catalog</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-wrapper">
                        <div class="row gy-4">
                            <div class="col-lg-7 d-flex align-items-center">
                                <div class="artist-info">
                                    <h1>Frida Kahlo</h1>
                                    <p>Frida Kahlo (1907-1954) was a pioneering Mexican artist renowned for her deeply
                                        personal
                                        and vibrant self-portraits. Her work, often infused with elements of Mexican
                                        folk art <br>
                                        and surrealism, explores themes of identity, suffering, and resilience. </p>
                                </div>
                            </div>
                            <div class="col-lg-5 d-flex justify-content-lg-end">
                                <div class="artist-image">
                                    <img src='@Url.Content("~/assets/img/inner-page/artist-image.jpg")' alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb section ends here -->

    
    <!-- aution card section strats here -->
    <div class="auction-card-sidebar-section pt-120 mb-120">
        <div class="container">
            <div class="row gy-5">
                <div class="col-xl-3 order-xl-1 order-2">
                    <div class="sidebar-area">
                        <div class="single-widgets widget_search mb-50">
                            <form>
                                <div class="wp-block-search__inside-wrapper ">
                                    <input type="search" id="wp-block-search__input-1" class="wp-block-search__input"
                                        name="s" value="" placeholder="Search Artist" required="">
                                    <button type="submit" class="wp-block-search__button">
                                        <svg width="16" height="16" viewBox="0 0 16 16"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M11.7425 10.3418C12.7107 9.0205 13.1444 7.38236 12.9567 5.75508C12.769 4.1278 11.9739 2.63139 10.7303 1.56522C9.48666 0.49905 7.88635 -0.0582469 6.2495 0.0048239C4.61265 0.0678947 3.05997 0.746681 1.90209 1.90538C0.744221 3.06409 0.0665459 4.61725 0.00464636 6.25415C-0.0572531 7.89104 0.501188 9.49095 1.56825 10.7338C2.63531 11.9766 4.13229 12.7707 5.7597 12.9572C7.38711 13.1438 9.02494 12.7089 10.3455 11.7397H10.3445C10.3745 11.7797 10.4065 11.8177 10.4425 11.8547L14.2924 15.7046C14.4799 15.8922 14.7342 15.9977 14.9995 15.9977C15.2647 15.9978 15.5192 15.8926 15.7068 15.7051C15.8944 15.5176 15.9999 15.2632 16 14.9979C16.0001 14.7327 15.8948 14.4782 15.7073 14.2906L11.8575 10.4408C11.8217 10.4046 11.7833 10.3711 11.7425 10.3408V10.3418ZM12.0004 6.4979C12.0004 7.22015 11.8582 7.93532 11.5818 8.60258C11.3054 9.26985 10.9003 9.87614 10.3896 10.3868C9.87889 10.8975 9.2726 11.3027 8.60533 11.5791C7.93807 11.8554 7.2229 11.9977 6.50065 11.9977C5.77841 11.9977 5.06324 11.8554 4.39597 11.5791C3.72871 11.3027 3.12242 10.8975 2.61171 10.3868C2.10101 9.87614 1.6959 9.26985 1.41951 8.60258C1.14312 7.93532 1.00086 7.22015 1.00086 6.4979C1.00086 5.03927 1.5803 3.64037 2.61171 2.60896C3.64312 1.57755 5.04202 0.99811 6.50065 0.99811C7.95929 0.99811 9.35818 1.57755 10.3896 2.60896C11.421 3.64037 12.0004 5.03927 12.0004 6.4979Z" />
                                        </svg>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="single-widgets mb-50">
                            <div class="widget-title">
                                <h5>Shop Catalog</h5>
                            </div>
                            <div class="checkbox-container">
                                <ul>
                                    <li>
                                        <label class="containerss">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span>Auction Art</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="containerss">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span>General Art</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="containerss">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span>Upcoming Auction Art</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-widgets mb-50">
                            <div class="widget-title">
                                <h5>Artist Name</h5>
                            </div>
                            <div class="checkbox-container">
                                <ul>
                                    <li>
                                        <label class="containerss">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span>Frida Kahlo </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="containerss">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span>Pablo Picasso </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="containerss">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span>Leonardo da Vinci</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="containerss">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span>Gustav Klimt</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="containerss">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span>Yayoi Kusama</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="button-area">
                                <a href="#">See More</a>
                            </div>
                        </div>
                        <div class="single-widgets mb-50">
                            <div class="widget-title">
                                <h5>Category</h5>
                            </div>
                            <div class="checkbox-container">
                                <ul>
                                    <li>
                                        <label class="containerss">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span>Painting </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="containerss">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span>Sculpture </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="containerss">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span>Print</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="containerss">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span>Natura</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="containerss">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span>Street Art</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="button-area">
                                <a href="#">See More</a>
                            </div>
                        </div>
                        <div class="single-widgets mb-50">
                            <div class="widget-title">
                                <h5>Department</h5>
                            </div>
                            <div class="checkbox-container">
                                <ul>
                                    <li>
                                        <label class="containerss">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span>Post War </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="containerss">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span>Contemporary Art </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="containerss">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span>Print and Multiples</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="button-area">
                                <a href="#">See More</a>
                            </div>
                        </div>
                        <div class="single-widgets mb-30">
                            <div class="widget-title">
                                <h5>Price Filter</h5>
                            </div>
                            <div class="range-wrap">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <form>
                                            <input type="hidden" name="min-value" value="">
                                            <input type="hidden" name="max-value" value="">
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div id="slider-range"></div>
                                    </div>
                                </div>
                                <div class="slider-labels">
                                    <div class="caption">
                                        <span id="slider-range-value1"></span>
                                    </div>
                                    <div class="caption">
                                        <span id="slider-range-value2"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 order-xl-2 order-1">
                    <div class="row">
                        <div class="col-lg-12 mb-30">
                            <div class="auction-card-top-area">
                                <div class="left-content">
                                    <h6>Showing <span>09</span> of <span>12</span> results</h6>
                                </div>
                                <div class="right-content">
                                    <div class="category-area d-lg-flex d-none active">
                                        <select>
                                            <option value="1">sorting</option>
                                            <option value="2">latest </option>
                                            <option value="2">Best selling </option>
                                            <option value="2">Price Low to high </option>
                                            <option value="2">Price high to low </option>
                                        </select>
                                    </div>
                                    <ul class="size-icon grid-view d-lg-flex d-none">
                                        <li class="column-2">
                                            <svg width="7" height="14" viewBox="0 0 7 14" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0.75 13.1875L0.749999 0.8125M5.8125 13.1875L5.8125 0.8125"
                                                    stroke="#A0A0A0" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg>
                                        </li>
                                        <li class="column-3 active">
                                            <svg width="10" height="14" viewBox="0 0 10 14" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M1.0625 13.1875L1.0625 0.8125M5 13.1875L5 0.8125M8.9375 13.1875L8.9375 0.8125"
                                                    stroke="white" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-grid-product-wrap">
                        <div class="row gy-4">
                            @foreach(var card in Model)
                            {
                            <div class="col-lg-4 col-md-6">
                                <div class="auction-card">
                                    <div class="auction-card-img-wrap">
                                        <a asp-controller="Home" asp-action="Details"
                                            asp-route-id="@card.ItemId" class="card-img">
                                            <img src="@Url.Content(card.ImageUrl)" alt="@card.Title"
                                                class="img-fluid" />
                                        </a>
                                        <div class="batch">
                                            <span class="upcoming">@card.BidStatus</span>
                                        </div>
                                        <a href="#" class="wishlist">
                                            <svg width="16" height="15" viewBox="0 0 16 15"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M8.00013 3.32629L7.32792 2.63535C5.75006 1.01348 2.85685 1.57317 1.81244 3.61222C1.32211 4.57128 1.21149 5.95597 2.10683 7.72315C2.96935 9.42471 4.76378 11.4628 8.00013 13.6828C11.2365 11.4628 13.03 9.42471 13.8934 7.72315C14.7888 5.95503 14.6791 4.57128 14.1878 3.61222C13.1434 1.57317 10.2502 1.01254 8.67234 2.63441L8.00013 3.32629ZM8.00013 14.8125C-6.375 5.31378 3.57406 -2.09995 7.83512 1.8216C7.89138 1.87317 7.94669 1.9266 8.00013 1.98192C8.05303 1.92665 8.10807 1.87349 8.16513 1.82254C12.4253 -2.10182 22.3753 5.31284 8.00013 14.8125Z" />
                                            </svg>
                                        </a>
                                        <div class="countdown-timer">
                                            <ul data-countdown="@card.BidEndDate.ToString(" yyyy/MM/dd HH:mm:ss")"></ul>
                                        </div>
                                    </div>
                                    <div class="auction-card-content">
                                        <h6>
                                            <a asp-controller="Home" asp-action="Details"
                                                asp-route-id="@card.ItemId">
                                                @card.Title
                                            </a>
                                        </h6>
                                        <ul>
                                            <li><span>Artist :</span> @card.ArtistName</li>
                                            <li>
                                                <span>Current Bidding :</span>
                                                @card.CurrentBid.ToString("C", CultureInfo.GetCultureInfo("en-US"))
                                            </li>
                                        </ul>
                                        <a asp-controller="Home" asp-action="Details"
                                            asp-route-id="@card.ItemId" class="bid-btn btn-hover">
                                            <span>Bidding Start</span><strong></strong>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                    <div class="row wow animate fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                        <div class="col-lg-12">
                            <div
                                class="page-navigation-area d-flex flex-wrap align-items-center justify-content-between">
                                <div class="prev-next-btn">
                                    <a href="#">
                                        <svg width="7" height="14" viewBox="0 0 7 14"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 7.00008L7 0L2.54545 7.00008L7 14L0 7.00008Z" />
                                        </svg>
                                        prev
                                    </a>
                                </div>
                                <ul class="pagination">
                                    <li class="active"><a href="#">01</a></li>
                                    <li><a href="#">02</a></li>
                                    <li><a href="#">03</a></li>
                                </ul>
                                <div class="prev-next-btn">
                                    <a href="#">
                                        next
                                        <svg width="7" height="14" viewBox="0 0 7 14"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7 7.00008L0 0L4.45455 7.00008L0 14L7 7.00008Z" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- aution card section ends here -->

        @section Scripts {
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      // Chọn tất cả <ul data-countdown="…">
      document.querySelectorAll("[data-countdown]").forEach(el => {
        // Lấy string ngày, chuyển - thành / để new Date parse ổn định
        const raw = el.getAttribute("data-countdown").replace(/-/g,'/');
        const finalDate = new Date(raw);

        function update() {
          const now  = new Date();
          let   diff = finalDate - now;
          if (diff < 0) diff = 0;

          const days    = Math.floor(diff / (1000 * 60 * 60 * 24));
          const hours   = Math.floor((diff / (1000 * 60 * 60)) % 24);
          const minutes = Math.floor((diff / (1000 * 60)) % 60);
          const seconds = Math.floor((diff / 1000) % 60);

          // Format 2 chữ số
          const D = String(days).padStart(2, "0");
          const H = String(hours).padStart(2, "0");
          const M = String(minutes).padStart(2, "0");
          const S = String(seconds).padStart(2, "0");

          el.innerHTML = 
            `<li class="times">${D}<small>D</small></li>` +
            `<li class="colon">:</li>` +
            `<li class="times">${H}<small>H</small></li>` +
            `<li class="colon">:</li>` +
            `<li class="times">${M}<small>M</small></li>` +
            `<li class="colon">:</li>` +
            `<li class="times">${S}<small>S</small></li>`;
        }

        update();                // khởi tạo ngay
        setInterval(update,1000); // update mỗi giây
      });
    });
  </script>

  }